[Unit]
Description=GratefulTime v2 Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/gratefultime-v2-backend
EnvironmentFile=%h/gratefultime-v2-backend/.env
ExecStart=%h/gratefultime-v2-backend/setup.sh 33540 --service
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
